# Знакомство с библиотекой Pandas. Преобразование признаков

In [1]:
import pandas as pd
import numpy as np

В этом ноутбуке вы познакомитесь с полезными функциями для преобразования значений в датафрейме - map и apply. С их помощью можно описывать в одну строку преобразование столбцов и строк.

Продолжим работать с датасетом велобайка

In [2]:
df = pd.read_csv('citibike.csv')

In [3]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2
3,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,25210,Customer,NaN,0
4,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,212,W 16 St & The High Line,40.743349,-74.006818,15514,Customer,NaN,0

### Map function

Функция map для преобразования элементов в столбце - часто используется с указанием словаря, где ключу (старое значение) соответствует новое значение после преобразования.

Например, можно перевести категориальные признаки в числовые

In [6]:
usertype = {'Customer': 1, 'Subscriber': 2}

In [7]:
df['usertype'].map(usertype).head()

0    1
1    2
2    2
3    1
4    1
Name: usertype, dtype: int64

### Apply

apply можно применить ко всему датасету, передав функцию в качестве аргумента. Например, можно вытащить все минимальные значения для каждого столбца

In [8]:
df.apply(min)

tripduration                             191
starttime                  7/1/2016 00:00:02
stoptime                   7/1/2016 00:03:31
start station id                         127
start station name          6 Ave & Canal St
start station latitude             40.690893
start station longitude           -74.009447
end station id                           174
end station name             1 Ave & E 16 St
end station latitude               40.689888
end station longitude             -74.008591
bikeid                                 14676
usertype                            Customer
birth year                               NaN
gender                                     0
dtype: object

Также apply можно применять и к отдельному столбцу с помощью лямбда функции

In [9]:
df['tripduration'].apply(lambda x: x / 60).head()

0    11.733333
1     8.200000
2     3.183333
3    11.450000
4    10.150000
Name: tripduration, dtype: float64

Apply работает со строками с указанием axis=1

In [10]:
df.apply(lambda x: x['tripduration']/60, axis=1).head()

0    11.733333
1     8.200000
2     3.183333
3    11.450000
4    10.150000
dtype: float64