# Знакомство с библиотекой Pandas. Series

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])

In [3]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
d = {'Moscow': 1000, 'London': 300, 'New York': 150, 'Barselona': None}
cities = pd.Series(d)

In [5]:
cities

Moscow       1000.0
London        300.0
New York      150.0
Barselona       NaN
dtype: float64

In [8]:
print (cities['Moscow'])
print (cities[['Moscow', 'London']])

1000.0
Moscow    1000.0
London     300.0
dtype: float64

In [9]:
cities < 1000

Moscow       False
London        True
New York      True
Barselona    False
dtype: bool

In [10]:
cities[cities < 1000]

London      300.0
New York    150.0
dtype: float64

In [12]:
cities['Moscow'] = 100
cities[cities < 1000]

Moscow      100.0
London      300.0
New York    150.0
dtype: float64

In [14]:
cities[cities < 1000] = 300
cities

Moscow       300.0
London       300.0
New York     300.0
Barselona      NaN
dtype: float64

In [15]:
cities * 3

Moscow       900.0
London       900.0
New York     900.0
Barselona      NaN
dtype: float64

In [16]:
cities.isnull()

Moscow       False
London       False
New York     False
Barselona     True
dtype: bool